# Node.js modules
node_modules/

# Environment variables file
.env

# Logs
logs/

# Database files
database/

# Operating system specific files
.DS_Store
Thumbs.db

# Visual Studio Code settings folder
.vscode/

# MacOS system files
.DS_Store

# npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IntelliJ IDEA files
.idea/

# Ignore any other unnecessary files
/.cache/
